.frameContainer {
    background-color: black;
    height: 350px;
    width: 300px;  
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#display {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 5px; 
}

.numbers button {
    width: 20%; 
    height: 60px; 
    background-color: lightgray;
    margin: 0; 
    padding: 2px;
}

button.operators {
    display: flex;
    gap: 10px; 
    background-color: lightblue;
    align-items: center;
    justify-content: center;
}


.equals{
    background-color: orange;
}
